*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    color: #333;
}

header{
    width: 100%;
    height: 30px;
    text-align: center;
}

nav{
    width: 100%;
    height: 40px;
    background-color: skyblue;
}

nav > ul {
    width: 80%;
    margin: 0 auto;
    display: flex;
}

nav > ul > li {
    width: 20%;
    text-align: center;
    line-height: 40px;
}

section{
    width: 100%;
}

section > .container{
    width: 70%;
    margin: 0 auto;
    border: 1px solid #dfdfdf;
    margin: 0 auto;
    height: 600px;
    margin-top: 30px;
    padding: 10px;
}

footer{
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background-color: skyblue;
    margin-top: 219px;
}

.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}